@import "tailwindcss";
@plugin "@tailwindcss/typography";
@custom-variant dark (&:where(.dark, .dark *));

.dark {
    --active-bg: rgba(255, 255, 255, .07);
}

.active {
    background-color: var(--active-bg);
}

:root {
    --active-bg: #f1f5f9;
    --font-sans: 'Inter', 'Noto Sans', system-ui, -apple-system, sans-serif;
    text-autospace: normal;
}

body {
    font-family: var(--font-sans);
}