---
import "../styles/global.css";
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE } from "@/consts";
import { LOCALES, useTranslations, type Lang } from "@/i18n";

const t = useTranslations(Astro.currentLocale as Lang);

const { title } = Astro.props;
const { description } = Astro.props;
---

<!doctype html>
<html lang={LOCALES[Astro.currentLocale as string].lang}>
    <script is:inline>
        const theme = localStorage.getItem("hs_theme");
        if (
            theme === "dark" ||
            (!theme &&
                window.matchMedia("(prefers-color-scheme: dark)").matches)
        ) {
            document.documentElement.classList.add("dark");
            document.documentElement.classList.remove("light");
        } else {
            document.documentElement.classList.add("light");
            document.documentElement.classList.remove("dark");
        }

        function loadUtterances() {
            const theme =
                localStorage.getItem("hs_theme") === "dark"
                    ? "github-dark"
                    : "github-light";
            const container = document.getElementById("utterances-container");

            // 清空容器，避免重复加载
            container.innerHTML = "";

            const script = document.createElement("script");
            script.src = "https://utteranc.es/client.js";
            script.setAttribute("repo", "ychisbest/The-Farmer-Was-Replaced");
            script.setAttribute("issue-term", "pathname");
            script.setAttribute("theme", theme);
            script.setAttribute("crossorigin", "anonymous");
            script.async = true;

            container.appendChild(script);
        }
        // 页面加载时初始化
        document.addEventListener("DOMContentLoaded", loadUtterances);
    </script>
    <BaseHead
        title={SITE_TITLE + " - " + t(title)}
        description={t(description)}
    />

    <body
        class="max-w-7xl mx-auto bg-white dark:bg-neutral-900 text-gray-800 dark:text-gray-200 transition-colors"
    >
        <Header />
        <main class="container mx-auto px-4 py-8">
            <slot />
        </main>
        <Footer />
    </body>
</html>
